@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-800 text-white;
}

header {
    @apply flex items-center p-2 bg-gray-900 gap-4;

    img {
        @apply h-[80px] w-auto;
    }

    nav {
        @apply w-full;

        ul {
            @apply flex gap-2 items-center;

            li {
                a {
                    @apply py-4 px-4 hover:bg-gray-700 rounded;

                    &.active {
                        @apply bg-purple-900;
                    }
                }
            }
        }
    }
}

main {
    @apply p-4;
}

h1 {
    @apply text-3xl;
}

.breadcrumb {
    @apply flex items-center p-2 bg-gray-900 border-t border-gray-700;

    > *:not(:last-child) {
        @apply pr-3;

        &::after {
            content: '/';
            @apply pl-3;
        }
    }
}

.btn-group {
    @apply flex rounded-2xl border border-purple-200 overflow-hidden;

    > * {
        @apply py-2 px-3;

        &:not(:last-child) {
            @apply border-r border-purple-200;
        }

        &.active {
            @apply bg-purple-800;
        }
    }
}

.table {
    @apply w-full;

    thead {
        @apply bg-gray-900;
    }

    th, td {
        @apply relative border border-purple-200 p-1;
    }

    tbody {
        tr {
            @apply hover:bg-purple-900;
        }
    }

    caption {
        @apply mb-4 text-3xl text-left;
    }

    &-striped {
        tbody tr:nth-child(odd) :is(td, th) {
            @apply bg-gray-700;
        }
        &:has(tbody td:hover) tbody tr:nth-child(odd) td {
            @apply bg-transparent
        }
    }

    &-orderable {
        thead {
            th {
                @apply cursor-pointer;

                &::after {
                    content: '';
                }

                &[data-order="ASC"]::after {
                    content: '⬆️';
                    @apply ml-1;
                }

                &[data-order="DESC"]::after {
                    content: '⬇️';
                    @apply ml-1;
                }
            }
        }
    }
    &-filterable {
        input {
            @apply text-white bg-transparent w-full outline-0;
        }
    }
}

.stats-table {
    @apply whitespace-nowrap;

    tbody, tfoot {
        td {
            @apply text-center;
        }
    }

    tr > *:first-child {
        @apply bg-gray-900 left-0 sticky z-10;
        box-shadow: rgb(233, 213, 255) 1px 0 0 0 inset, rgb(233, 213, 255) -1px 0 0 0 inset;
        border-left: none;
        border-right: none;

        &:last-child {
            @apply border-b border-purple-200;
        }
    }

    thead {
        tr th:first-child {
            @apply border-t border-purple-200 border-b-0;
        }
    }

    tfoot {
        tr th:first-child {
            @apply border-b border-purple-200 border-t-0;
        }
    }

    tbody {
        tr:hover :is(th, td) {
            @apply bg-purple-900;

            &:is(td):hover::after {
                content: '';
                height: 10000px;
                left: 0;
                position: absolute;
                top: -5000px;
                width: 100%;
                z-index: -1;
                @apply bg-purple-900/40;
            }
        }
    }

    tfoot {
        @apply border-t-8 border-purple-200
    }
}
