@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-800 text-white
}

header {
    @apply flex items-center p-2 bg-gray-900 gap-4
}
header img {
    @apply h-[80px] w-auto
}
header nav {
    @apply w-full
}
header nav ul {
    @apply flex gap-2 items-center
}
header nav ul li a {
    @apply py-4 px-4 hover:bg-gray-700 rounded
}
header nav ul li a.active {
    @apply bg-purple-900
}

main {
    @apply p-4
}

h1 {
    @apply text-3xl
}

.breadcrumb {
    @apply flex items-center p-2 bg-gray-900 border-t border-gray-700
}
.breadcrumb > *:not(:last-child) {
    @apply pr-3
}
.breadcrumb > *:not(:last-child)::after {
    content: '/';
    @apply pl-3
}

.table {
    @apply w-full
}
.table thead {
    @apply bg-gray-900
}
.table th, .table td {
    @apply relative border border-purple-200 p-1
}
.table tbody tr {
    @apply hover:bg-purple-900
}
.table tbody th {
    @apply text-left
}
.table caption {
    @apply mb-4 text-3xl text-left
}
.table-orderable thead th {
    @apply cursor-pointer
}
.table-orderable thead th::after {
    content: '';
    @apply ml-1
}
.table-orderable thead th[data-order="ASC"]::after {
    content: '⬆️';
}
.table-orderable thead th[data-order="DESC"]::after {
    content: '⬇️';
}

.btn-group {
    @apply flex rounded border border-purple-200 overflow-hidden
}
.btn-group > * {
    @apply py-2 px-3
}
.btn-group > *:not(:last-child) {
    @apply border-r border-purple-200
}
.btn-group > *.active {
    @apply bg-purple-800
}

.stats-table {
    @apply whitespace-nowrap
}
.stats-table tbody td, .stats-table tfoot td {
    @apply text-center
}
.stats-table tr > *:first-child {
    @apply bg-gray-900 left-0 sticky z-10 ;
    box-shadow: rgb(233, 213, 255) 1px 0 0 0 inset, rgb(233, 213, 255) -1px 0 0 0 inset;
    border-left: none;
    border-right: none;
}
.stats-table thead tr th:first-child {
    @apply border-t border-purple-200 border-b-0;
}
.stats-table tbody tr:last-child > *:first-child {
    @apply border-b border-purple-200
}
.stats-table tbody tr:hover * {
    @apply bg-purple-900
}
.stats-table tbody td:hover::after, .stats-table tfoot td:hover::after {
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
    @apply bg-purple-900/40
}