{% extends "base.html.twig" %}

{% block main %}
    <h1>Ajouter une feuille de stats</h1>

    <form action="{{ path('addGameFile') }}" method="POST" id="formAddGameFile">
        <input type="file" name="files[]" multiple="multiple" accept="application/pdf" required />
        <button>Envoyer</button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('addGame') }}
{% endblock %}
