{% extends "base.html.twig" %}

{% block main %}
    <table class="table table-filterable table-striped">
        <caption>{{ teams|length }} équipes</caption>
        <thead>
        <tr>
            <th class="filterable">Nom</th>
            <th colspan="3">Stats</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                {% for method in calculationMethods %}
                    <td class="text-center w-0.5">
                        <a href="{{ path('teamPlayersStats', {teamId: team.id, method: method.name}) }}" class="whitespace-nowrap">{{ method.value }}</a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
